.w {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 50px;
}

.code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
}

.code a {
    text-decoration: underline;
}